<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ajeje.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE478F741DBB370B007E7640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE478F8D1DBB370B007E7640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE478F981DBB370B007E7640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
